@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');
@import url('https://fonts.googleapis.com/css?family=Tenali+Ramakrishna');

body{
  width:100%;
  height: auto;
  padding: 0px;
  margin: 0px auto;
  background-color: #fff;
}

.logo_container{
  width: 100%;
  height: auto;
  padding: 2px;
  position: fixed;
  top:0px;
  margin: 0px;
  box-shadow: 1px 2px 4px #aaa;
  background-color: #fff;
  font-family: 'Bowlby One SC', cursive;
  z-index: 3;
}

.logo_text{
  width: 200px;
  height: auto;
  padding-left:52px;
  color: #f43838;


}

.frame_container{
  width: 1000px;
  height: auto;
  padding: 10px;
  margin:0px auto;
  background-color: #fff;
}

.inner_frame_container{

  width: 1000px;
  height: auto;
  margin:0px auto;
  background-color: inherit;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin:5px;

}

.movie_cards{
  width: 200px;
  height: 300px;
  background-color: #f9f9f9;
  box-shadow: 1px 2px 4px #aaa;
  border-radius: 7px;
  margin: 25px;
  transition: 0.2s;
  transform: scale(0.9,0.9);
  overflow: hidden;
}

.movie_cards:hover{
  transition: 0.2s;
  transform: scale(1,1);
  cursor:pointer;
}

.movie_poster{
  width: 100%;
  height: 90%;
  background-color: #f9f9f9;
  background-image: url("https://uproxx.files.wordpress.com/2017/01/honest-movie-posters-2017-rogue-one_imgur.jpg?quality=100&w=650&h=962");
  background-size: cover;
}

.movie_desp{
  width: 100%;
  height: 10%;
  background-color: #f43838;
  font-family: 'Tenali Ramakrishna', sans-serif;
  font-size: 20px;
  padding: 3px;
}

.display_text{
  font-size: 25px;
  font-style: normal;
  font-weight: 100;
  color:#f43838;
  font-family: 'Tenali Ramakrishna', sans-serif;
}

.search_field{
  margin: 0px auto;
  width: 250px;
  height: 35px;
  border-radius: -10px;
  border-style: none;
  border:none;
  background-color: #f9f9f9;
  box-shadow: 1px 2px 4px #999;
  padding-left: 15px;
  color:#f43838;

}

.search_btn{
  margin: 0px auto;
  width: 100px;
  height: 35px;
  border-radius: -10px;
  border-style: none;
  border:none;
  box-shadow: 1px 2px 4px #999;
  background-color: #f43838;
  color:#fff;
  cursor: pointer;
}

.search_box_area{
  width: 800px;
  height: auto;
  padding-left: 100px;
  padding-top: 100px;
  background-color: inherit;
}

.center_search{
  width: 400px;
  height: auto;
  padding: 20px;
  margin: 0px auto;
}

.result_text_container{
  margin: 0px auto;
  text-align: center;
  padding: 20px;
}

.rate-container{
  width: 200px;
  height: 40px;
  background-color: #fff;
  position: relative;
  bottom: -10px;
  flex-direction: row;
  display: flex;
}

.rate_btn{
  width: 100px;
  height: auto;
  padding: 3px;
  text-align: center;
  border-radius: 20px;
  border: 1px solid #0084FF;
  color:#0084FF;
  margin-top: 5px;
  font-family: 'Tenali Ramakrishna', sans-serif;
  transition: 0.2s;
  transform: scale(0.9,0.9);
}

.rate_btn:hover{
  transition: 0.2s;
  transform: scale(1,1);
  cursor:pointer;

}

.pink{
  color:#f20e56;
}
