

body{
  width:1000px;
  height: auto;
  padding: 25px;
  margin: 0px auto;
  background-color: #fff;
}

.frame_container{
  width: 1000px;
  height: auto;
  padding: 10px;
  margin:0px auto;
  background-color: #fff;
}

.inner_frame_container{

  width: 1000px;
  height: auto;
  margin:0px auto;
  background-color: inherit;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin:5px;

}

.movie_cards{
  width: 200px;
  height: 300px;
  background-color: #f9f9f9;
  box-shadow: 1px 2px 4px #aaa;
  border-radius: 7px;
  margin: 25px;
  transition: 0.2s;
  transform: scale(0.9,0.9);
  overflow: hidden;
}

.movie_cards:hover{
  transition: 0.2s;
  transform: scale(1,1);
  cursor:pointer;
}

.movie_poster{
  width: 100%;
  height: 70%;
  background-color: #482;
}

.movie_desp{
  width: 100%;
  height: 30%;
  background-color: #985;
}
