@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');
@import url('https://fonts.googleapis.com/css?family=Tenali+Ramakrishna');
 @import url('https://fonts.googleapis.com/css?family=Righteous');

body{
  width:100%;
  height: auto;
  padding: 0px;
  margin: 0px auto;
  background-color: #141414;
}

.logo_container{
  width: 100%;
  height: auto;
  padding: 2px;
  position: fixed;
  top:0px;
  margin: 0px;
  box-shadow: 1px 2px 4px #000;
  background-color: #141414;
  font-family: 'Bowlby One SC', cursive;
  z-index: 3;
}

.logo_text{
  width: 200px;
  height: auto;
  padding-left:52px;
  color: #fc1919;
  font-family: 'Righteous', cursive;
}

.frame_container{
  width: 1000px;
  height: auto;
  padding: 10px;
  margin:0px auto;
  background-color: #141414;
}

.inner_frame_container{

  width: 1000px;
  height: auto;
  margin:0px auto;
  background-color: inherit;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin:5px;


}

.movie_cards{
  width: 250px;
  height: 350px;
  background-color: inherit;
  box-shadow: 1px 2px 4px #000;
  border-radius: 7px;
  margin: 25px;
  transition: 0.2s;
  transform: scale(0.9,0.9);
  overflow: hidden;
}

.movie_cards:hover{
  transition: 0.2s;
  transform: scale(1,1);
  cursor:pointer;
}

.movie_card_holder{
  width: 250px;
  height: auto;
  padding: 2px;
  background-color: #inherit;
  margin: 5px;
}

.movie_poster{
  width: 100%;
  height: 90%;
  background-color: #f9f9f9;
  background-size: cover;
}

.movie_desp{
  width: 100%;
  height: 10%;
  background-color: #f9f9f9;
  font-family: 'Righteous', cursive;
  font-size: 20px;
  padding: 3px;
}

.display_text{
  font-size: 25px;
  font-style: normal;
  font-weight: 100;
  color:#fc1919;
  font-family: 'Righteous', cursive;
}

.search_field{
  margin: 0px auto;
  width: 270px;
  height: 55px;
  border-radius: -10px;
  border-style: none;
  border:none;
  background-color: #fff;
  box-shadow: 1px 2px 4px #000;
  padding-left: 15px;
  color:#fc1919;

}

.search_btn{
  margin: 0px auto;
  width: 100px;
  height: 55px;
  border-radius: -10px;
  border-style: none;
  border:none;
  box-shadow: 1px 2px 4px #000;
  background-color: #fc1919;
  color:#fff;
  cursor: pointer;
}

.search_box_area{
  width: 800px;
  height: auto;
  padding-left: 100px;
  padding-top: 100px;
  background-color: inherit;
}

.center_search{
  width: 400px;
  height: auto;
  padding: 20px;
  margin: 0px auto;
}

.result_text_container{
  margin: 0px auto;
  text-align: center;
  padding: 20px;
}

.rate-container{
  width: 200px;
  height: 40px;
  background-color: #f9f9f9;
  position: relative;
  bottom: 15px;
  flex-direction: row;
  display: flex;
  margin: 0px auto;
}

.rate_btn{
  width: 100px;
  height: auto;
  padding: 3px;
  text-align: center;
  border-radius: 20px;
  border: 1px solid #0084FF;
  color:#0084FF;
  margin-top: 5px;
  font-family: 'Tenali Ramakrishna', sans-serif;
  transition: 0.2s;
  transform: scale(0.9,0.9);

}

.rate_btn:hover{
  transition: 0.2s;
  transform: scale(1,1);
  cursor:pointer;

}

.pink{
  color:#f20e56;
}

.poster-list{
  width: 100%;
  height: 600px;
  background-color: #dd5;
  background-image: url("https://assets.mubi.com/images/notebook/post_images/22267/images-w1400.jpg?1474980339");
  background-size:100%;
  background-repeat: no-repeat;
  background-position: 50% 8%;
  position: absolute;
  left: 0px;
}
