<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>redpopcorn</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
  </head>
  <body>

    <div class="frame_container">
      <div class="search_box_area">
        <div class="center_search">
          <form class="" action="{{ url_for("show_popcorns") }}" method="post">
            <input type="text" name="search_box" value="" class="search_field">
            <input type="submit" name="search" value="search" class="search_btn">
          </form>
        </div>
      </div>

      {% block body %}{% endblock %}
    </div>



  </body>
</html>
